{% extends "base.html" %} {% block content %}

<section id="about-model-text">
    <h3>About your model</h3>
    <p><em>Some line</em>></p>
    <p>Some answer</p>
  
</section>



<section class="links-button">
    <a class="big-button subscribe-button" href="https://cloud.prevision.io">Subscribe</a>
    <a class="big-button subscribe-button" href="https://www.youtube.com/watch?v=IsoNnHduCmE&t=2s">Video</a>
    <a class="big-button rtd-button" href="https://doc.prevision.io/en/latest/studio/experiments/automl/images.html?highlight=image#image-detection-experiments">Doc</a>
</section>
<section id="social-net">
    <p>Reach us on</p>
    <p class="links-button">
        <a target="_blank" href="https://twitter.com/PrevisionIO"><img src="icons/twitter.svg" alt="Logo" class="logo-img"></a>
        <a target="_blank" href="https://fr.linkedin.com/company/prevision.io"><img src="icons/linkedin.svg" alt="Logo" class="logo-img"></a>
    </p>
</section>
{% endblock %}